.header {
  /* background: url('./../public/imgs/blur1.png'); */
  background: linear-gradient(#229c9e, #1f9696, #3091c1);
  /* transform: translateY(-75px); */
}
/* .header > div:nth-of-type(2) > div:first-of-type {
  position: relative;
  top: 18px;
} */

.header > div:nth-of-type(2) > div:first-of-type span:first-of-type {
  position: relative;
  left: -48px;
}
.header > div:nth-of-type(2) > div:first-of-type p:first-of-type {
  position: relative;
  left: -48px;
}
.header > div:nth-of-type(2) > div:first-of-type p:nth-of-type(2) {
  margin-left: 10px;
}

.header > div:nth-of-type(4) {
  margin-top: 250px;
}
.header > div:nth-of-type(4) > div:first-of-type {
  border: 2px solid #248599;
  outline: 2px solid #fff;
}
.header > div:nth-of-type(4) > div:nth-of-type(2) {
  background-color: white;
  width: 3px;
  height: 90px;
  margin: 8.5px 0;
}
.header > div:nth-of-type(4) > div:nth-of-type(3),
.header > div:nth-of-type(4) > div:nth-of-type(4),
.header > div:nth-of-type(4) > div:nth-of-type(5) {
  margin: 2px 0;
}
